name: MyTestWorkflow
env:
  APP_NAME: "My test APP"
  APP_ENV: "Prod"
  REGISTRY: "115837342064.dkr.ecr.eu-central-1.amazonaws.com"
  REPOSITORY: "muzzle/muzzle"
#  IMAGE_TAG:

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch name to check (default: develop)'
        required: true
        type: string
      env:
        description: 'ENV'
        required: true
        type: string
      branch:
        description: 'Branch name to check (default: develop)'
        required: false
        default: 'develop'
      custom_tag:
        description: 'Custom docker tag (optional, replaces 1.0.{run_number})'
        required: false

jobs:
  check-branches:
    runs-on: ubuntu-latest
    outputs:
#      admin_branch: ${{ steps.check_admin.outputs.actual_branch }}
#      client_branch: ${{ steps.check_client.outputs.actual_branch }}
#      portal_branch: ${{ steps.check_portal.outputs.actual_branch }}
      image_tag: ${{ steps.set_tag.outputs.image_tag }}
    steps:
      - name: check vars
      - run: |
          echo {{ github.event.inputs.ref }}
          echo {{ github.event.inputs.env }}
          echo {{ github.event.inputs.branch }}
          echo {{ github.event.inputs.custom_tag }}
          
      - name: Set image tag
        id: set_tag
        run: |
          if [ -z "${{ github.event.inputs.custom_tag }}" ]; then
            echo "1st step"
            echo "image_tag=1.0.${{ github.run_number }}" >> $GITHUB_OUTPUT
          else
            echo "2nd step"
            echo "image_tag=${{ github.event.inputs.custom_tag }}" >> $GITHUB_OUTPUT
          fi

  build-images:
    needs: check-branches
    runs-on: ubuntu-latest
    env:
      REACT_APP_GOOGLE_API_KEY: ${{ secrets.REACT_APP_GOOGLE_API_KEY_STAGE }}
    steps:
      - name: Build and push image
        env:
          IMAGE_TAG: ${{ needs.check-branches.outputs.image_tag }}
        run: |
          echo $IMAGE_TAG

#  my-1st:
#    runs-on: ubuntu-latest

#    steps:
#    - name: clone
#      uses: actions/checkout@v3

#    - name: Jobe ls
#      run: ls -la 

#    - name: cat envs
#      run: |
#        echo "${{ env.APP_NAME }}"
#        echo "${{ env.APP_ENV }}"


#    - name: build docker
#      run: docker build -t muzzle/muzzle:v1.00 .
#    - name: Get next version
#      uses: reecetech/version-increment@2024.10.1
#      id: version
#      with:
#        scheme: semver
#        increment: patch

#    - name: Configure AWS credentials
#      uses: aws-actions/configure-aws-credentials@v4 
#      with:
#        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#        role-to-assume: arn:aws:iam::123456789012:role/my-github-actions-role
#        aws-region: eu-central-1

#    - name: Login to Amazon ECR
#      id: login-ecr
#      uses: aws-actions/amazon-ecr-login@v2

#    - name: Build, tag, and push docker image to Amazon ECR
#      env:
#        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
#        REPOSITORY: ${{ env.REPOSITORY }}
#        IMAGE_TAG: ${{ github.sha }}
#      run: |
#        docker build -t ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:${{ env.APP_ENV }}1.0.${{ github.run_number }} .
#        docker push ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:${{ env.APP_ENV }}1.0.${{ github.run_number}}

#        docker push ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:$IMAGE_TAG


#    - name: show images
#      run: docker images      


#    - name: Login to DockerHub Registry
#      run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

#    - name: docker push
#      run: docker push muzzle/muzzle:v1.00
    
#  my-2nd:
#    runs-on: ubuntu-latest
#    needs: [my-1st]

#    steps:
#    - name: 2nd Jobe
#      run: echo "Starting 2nd job" && df -h
